a {
    cursor: pointer;
}

.app-container {
    min-height: 350px;
}

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-uploader>.ant-upload {
    width: 128px;
    height: 128px;
}